[data-theme="default"],
[data-theme="green"] {
  --color-brand: #ff9e17;
  --color-primary: #47645a;
  --color-primary-darker: #354b43;
  --color-component-background: #e9ece9;
  --color-component-background-darker: #ced9d0;
  --color-background: #fbf8f5;
}

.jSxApR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  z-index: 2;
  background: rgb(251, 248, 245);
  position: absolute;
  transform: translateX(-200%);
}

// content-bottom

.fawONg {
  font-family: FilsonPro, Arial, sans-serif;
  color: rgb(40, 40, 40);
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 0px;
}

.fawONg {
  font-family: FilsonPro, Arial, sans-serif;
  color: rgb(40, 40, 40);
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 0px;
}

.bvPhgT {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: FilsonProBook, Arial, sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  font-size: 1.4rem;
  height: 75px;
  width: 75px;
}

.gIDLTk {
  color: rgb(40, 40, 40);
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  border: none;
  cursor: pointer;
  background: none;
}

.finCVp {
  background: rgb(248, 209, 173);
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.zgdLu {
  display: grid;
  --grid-gap: 10px;
  gap: var(--grid-gap);
  --maxAllowedColumns: 4;
  grid-auto-columns: calc(
    (2 / var(--maxAllowedColumns) * 100%) -
      (var(--grid-gap) * (1 - 2 / var(--maxAllowedColumns)))
  );
  grid-auto-flow: column;
  grid-template-columns: unset;
}

.blAtVL {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bvPhgT ._big {
  font-size: 1rem;
  font-family: FilsonProPrice, Arial, sans-serif;
  line-height: 200%;
}

.iQTqDB {
  position: absolute;
  top: 10px;
  right: 8px;
}

.gOZbrM {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ftbkQW {
  padding-top: 10px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.jSPnnK {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(40, 40, 40);
}

.hpjYda {
  font-size: 1.6rem;
  color: rgb(40, 40, 40);
  margin-top: 5px;
  margin-bottom: 20px;
}

.bSCcMs {
  display: flex;
}

.fDKrIW {
  --primary-color: #47645a;
  --primary-darker-color: #354b43;
  --secondary-color: #e9ece9;
  --secondary-darker-color: #ced9d0;
  --primary-hover: #121f1a;
  --border-color: var(--primary-darker-color);
  --font-color: var(--primary-darker-color);
  display: flex;
  position: relative;
  font-family: FilsonPro, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 4px;
  border-radius: 4rem;
  line-height: 100%;
  min-width: auto;
  outline: transparent solid 2px;
  z-index: 0;
  font-size: 1.6rem;
  padding: 1.4rem 2.4rem;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  border: none;
  background-color: var(--primary-color) !important;
}

.bgpZmg {
  --primary-color: #47645a;
  --primary-darker-color: #354b43;
  --secondary-color: #e9ece9;
  --secondary-darker-color: #ced9d0;
  --primary-hover: #121f1a;
  --border-color: var(--primary-darker-color);
  --font-color: var(--primary-darker-color);
  display: flex;
  position: relative;
  font-family: FilsonPro, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 4px;
  border-radius: 4rem;
  line-height: 100%;
  min-width: auto;
  outline: transparent solid 2px;
  z-index: 0;
  font-size: 1.6rem;
  padding: 0px;
  margin: 1.2rem 0px;
  color: rgb(40, 40, 40);
  background-color: transparent;
  border: none;
}

.bqOrht {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.caqxlK {
  height: 100%;
  position: relative;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 0;
}

.kYfPwl {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}

.vXLD {
  position: relative;
  height: 200px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 15px;
}

.gFgqMC {
  font-weight: 600;
  font-size: 1.6rem;
  color: rgb(40, 40, 40);
  margin: 9px 0px 3px;
}

.fekXPS {
  font-size: 1.6rem;
  color: rgb(40, 40, 40);
  margin-bottom: 1px;
  word-break: break-word;
}

.cUDnFy {
  max-width: 100%;
  max-height: 100%;
}

.hFGZnj {
  margin: 20px 0px;
}

.dZzjqj {
  width: 100%;
}

.jEKDcl {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 5px;
}

.PKWGa {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  .PKWGa {
    padding: 0px;
  }
}

.bgpZmg:active::after {
  background-color: var(--secondary-darker-color);
}

.bgpZmg:enabled::after {
  content: "";
  position: absolute;
  inset: -0.8rem;
  border-radius: 4rem;
  background-color: transparent;
  z-index: -1;
}

.bgpZmg:hover::after,
.bgpZmg:active::after,
.bgpZmg:focus-visible::after {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 481px) {
  .dNqIMR {
    grid-auto-columns: calc(
      (4 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 4 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}

.dNqIMR {
  display: grid;
  --grid-gap: 10px;
  gap: var(--grid-gap);
  --maxAllowedColumns: 4;
  grid-auto-columns: calc(
    (2 / var(--maxAllowedColumns) * 100%) -
      (var(--grid-gap) * (1 - 2 / var(--maxAllowedColumns)))
  );
  grid-auto-flow: column;
  grid-template-columns: unset;
}

@media screen and (min-width: 481px) {
  .dNqIMR {
    --maxAllowedColumns: 10;
  }
}

@media screen and (min-width: 481px) {
  .dNqIMR {
    --grid-gap: 20px;
    gap: var(--grid-gap);
  }
}

@media screen and (min-width: 481px) {
  .fDKrIW {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

@media screen and (min-width: 481px) {
  .zgdLu {
    grid-auto-columns: calc(
      (4 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 4 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}

@media screen and (min-width: 481px) {
  .zgdLu {
    --maxAllowedColumns: 10;
  }
}

@media screen and (min-width: 481px) {
  .zgdLu {
    --grid-gap: 20px;
    gap: var(--grid-gap);
  }
}

@media screen and (min-width: 768px) {
  .zgdLu {
    grid-auto-columns: calc(
      (3 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 3 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}

@media screen and (min-width: 768px) {
  .zgdLu {
    --maxAllowedColumns: 6;
  }
}

@media screen and (min-width: 768px) {
  .gIDLTk {
    flex-direction: row;
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .dNqIMR {
    grid-auto-columns: calc(
      (3 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 3 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}

@media screen and (min-width: 1024px) {
  .zgdLu {
    grid-auto-columns: calc(
      (2 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 2 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}

@media screen and (min-width: 1024px) {
  .dNqIMR {
    grid-auto-columns: calc(
      (2 / var(--maxAllowedColumns) * 100%) -
        (var(--grid-gap) * (1 - 2 / var(--maxAllowedColumns)))
    );
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}
